<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer id="footer-copyright" class="footer-copyright">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <p>
                    © copyright by abdullah latif. design and developed by <a href="">abdullah latif</a>
                </p><!--/p-->
            </div><!--/.text-center-->
        </div><!--/.container-->
    
        
    </footer>
</body>
</html>