<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <div class="container">
    <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="/"><img src="../icons/abdullah-latif-low-resolution-logo-color-on-transparent-background.svg" alt="Profile Photo"></a>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="smooth-menu"><a href="#education">EDUCATION</a></li>
                        <li class="smooth-menu"><a href="#skills">SKILLS</a></li>
                        <li class="smooth-menu"><a href="#profiles">PROFILE</a></li>
                        <li class="smooth-menu"><a href="#portfolio">PORTFOLIO</a></li>
                        <li class="smooth-menu"><a href="#contact">CONTACT</a></li>
                    </ul>
            </div>
    </div>
</div>
</header>
</body>
</html>
